<%-include(". /partials/header")%>
  <div class="container w-full h-full relative">
    <div class="w-full h-full flex justify-center gap-5 flex-col items-center">
      <h1 class="Dailytxt text-8xl text-white">
        DAILY<span class="text-yellow-400"> EXPENSE </span>TRACKER
      </h1>
      <p class="para text-base font-medium mb-4 text-gray-400">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure iusto nulla
        fuga voluptatum consectetur suscipit
      </p>
      <div class="bottonsbox1 w-96 items-center flex flex-col gap-3 text-lg font-medium justify-evenly">
        <a class="border-2 w-full text-center py-1 px-3 rounded-full border-gray-400 text-gray-400"
          href="/expense/dailycreate">Add New</a>
        <% if (user) { %>
          <a class="border-2 w-full text-center py-1 px-3 rounded-full border-gray-400 text-gray-400"
            href="/expense/dailyshow">Show Expenses</a>
          <% } else { %>
            <a class="border-2 w-full text-center py-1 px-3 rounded-full border-gray-400 text-gray-400"
              href="/user/login">Show Expenses</a>
            <% } %>
      </div>
    </div>
    <!-- <div class="right bg-yellow-400 w-[46%] h-[90%] flex flex-col gap-5 justify-center items-center">
      <h1 class="delivarytxt text-5xl">Delivary Expense</h1>
      <p class="para text-base font-medium">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, harum?
      </p>
      <div class="bottonsbox1 w-96 items-center flex flex-col gap-2 text-lg font-medium justify-evenly">
        <a class="border-2 w-full text-center py-1 px-3 rounded-full border-black whitecrate"
          href="/expense/delivarycreate">Add New</a>
        <a class="border-2 w-full text-center py-1 px-3 rounded-full border-black" href="/expense/delivaryshow">Show
          Expenses</a>
      </div>
    </div> -->
  </div>

  <%- include("./partials/footer")%>